@import "./normalize.css";

body {
    overflow-x: hidden;
}

/**
 * Animations
 **/
@keyframes moveHorizontal {
    from { 
        transform: translate(10vw, 22vh);
    }
    to {
        transform: translate(15vw, 22vh);
    }
}
